![](picture3.png)

In [1]:

import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:

df=pd.read_csv('HR.csv')

In [3]:
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [4]:
df.shape

(14999, 10)

In [5]:
left = df[df.left==1]

left.shape

(3571, 10)

In [6]:
retained = df[df.left==0]

retained.shape

(11428, 10)

In [7]:
df.groupby('left').mean()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years
left,,,,,,,
0,0.666810,0.715473,3.786664,199.060203,3.380032,0.175009,0.026251
1,0.440098,0.718113,3.855503,207.419210,3.876505,0.047326,0.005321

In [8]:
factor_df=df[['satisfaction_level','average_montly_hours','promotion_last_5years','salary']]

In [9]:
factor_df.head()

   satisfaction_level  average_montly_hours  promotion_last_5years  salary
0                0.38                   157                      0     low
1                0.80                   262                      0  medium
2                0.11                   272                      0  medium
3                0.72                   223                      0     low
4                0.37                   159                      0     low

In [10]:
salary_dummies=pd.get_dummies(factor_df.salary,prefix="salary")

In [11]:
salary_dummies.head()

   salary_high  salary_low  salary_medium
0            0           1              0
1            0           0              1
2            0           0              1
3            0           1              0
4            0           1              0

In [12]:
df_with_dummies=pd.concat([factor_df,salary_dummies],axis=1)

In [13]:
df_with_dummies.head()

,satisfaction_level,average_montly_hours,promotion_last_5years,salary,salary_high,salary_low,salary_medium
0,0.38,157,0,low,0,1,0
1,0.80,262,0,medium,0,0,1
2,0.11,272,0,medium,0,0,1
3,0.72,223,0,low,0,1,0
4,0.37,159,0,low,0,1,0

In [14]:
df_with_dummies.drop('salary',axis=1,inplace=True)

In [15]:
df_with_dummies.head()

,satisfaction_level,average_montly_hours,promotion_last_5years,salary_high,salary_low,salary_medium
0,0.38,157,0,0,1,0
1,0.80,262,0,0,0,1
2,0.11,272,0,0,0,1
3,0.72,223,0,0,1,0
4,0.37,159,0,0,1,0

In [16]:
x=df_with_dummies
x.head()

,satisfaction_level,average_montly_hours,promotion_last_5years,salary_high,salary_low,salary_medium
0,0.38,157,0,0,1,0
1,0.80,262,0,0,0,1
2,0.11,272,0,0,0,1
3,0.72,223,0,0,1,0
4,0.37,159,0,0,1,0

In [17]:
y=df.left

In [18]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.2)

#### Logistics regression

In [19]:
from sklearn.linear_model import LogisticRegression 
model=LogisticRegression()

In [20]:
model.fit(x_train,y_train)

LogisticRegression()

In [21]:
model.predict(x_test)

array([0, 0, 0, ..., 0, 1, 0])

In [22]:
model.score(x_test,y_test)

0.7840833333333334

#### Random Forest Classifier

In [23]:
from sklearn.ensemble import RandomForestClassifier

model=RandomForestClassifier(n_estimators=50)

model.fit(x_train, y_train)

RandomForestClassifier(n_estimators=50)

In [24]:
model.predict(x_test)

array([0, 0, 1, ..., 0, 1, 0])

In [25]:
model.score(x_test,y_test)

0.9120833333333334

## cross validation

#### train_test_split

In [26]:
from sklearn.tree import DecisionTreeClassifier

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=50) 

model = DecisionTreeClassifier()

model.fit(X_train, y_train)

result = model.score(X_test, y_test)

print(result)

0.9276666666666666

#### k-fold validation

In [27]:
from sklearn.model_selection import KFold

model=DecisionTreeClassifier()

kfold_validation=KFold(50)

from sklearn.model_selection import cross_val_score

results=cross_val_score(model,x,y,cv=kfold_validation)

print(results)

print(np.mean(results))

[0.95333333 0.96333333 0.81333333 0.72666667 0.72333333 0.68666667
 0.86       0.94333333 0.91       0.94       0.95333333 0.94
 0.95       0.96       0.95666667 0.95       0.95       0.92
 0.94666667 0.93       0.94333333 0.94       0.90333333 0.97
 0.91       0.91666667 0.94333333 0.92333333 0.92       0.93666667
 0.92       0.94666667 0.95666667 0.92333333 0.95333333 0.96333333
 0.99666667 0.99       0.99       0.97       0.95333333 0.96333333
 0.94       0.98666667 0.99       0.98666667 0.98       0.96666667
 0.95       0.93645485]
0.9309290969899665

#### StratifiedKFold

In [28]:
from sklearn.model_selection import StratifiedKFold

skfold=StratifiedKFold(n_splits=50) 

model=DecisionTreeClassifier()

scores=cross_val_score(model,x,y,cv=skfold)

print(scores)

print(np.mean(scores))

[0.94333333 0.94666667 0.90666667 0.95       0.95       0.95
 0.95       0.94666667 0.96       0.93       0.94333333 0.89
 0.9        0.91333333 0.87       0.9        0.88333333 0.89333333
 0.88       0.87       0.88333333 0.87       0.91666667 0.87666667
 0.87666667 0.91666667 0.93       0.88666667 0.95       0.93333333
 0.93333333 0.93       0.95333333 0.95333333 0.93666667 0.94666667
 0.95333333 0.93666667 0.97333333 0.99       0.98       0.97666667
 0.98       0.97666667 0.97666667 0.98666667 0.98666667 0.98333333
 0.97666667 0.93979933]
0.9337293199554069

#### random train_test_split

In [29]:
from sklearn.model_selection import ShuffleSplit

model=DecisionTreeClassifier()

ssplit=ShuffleSplit(n_splits=10,test_size=0.20)

results=cross_val_score(model,x,y,cv=ssplit)

print(results) 

print(np.mean(results))

[0.93233333 0.92433333 0.93366667 0.927      0.92233333 0.92433333
 0.92533333 0.92133333 0.92433333 0.924     ]
0.9259000000000001

In [30]:
#k fold for logistic regression

kfold=KFold(50)

results=cross_val_score(LogisticRegression(solver='liblinear',multi_class='ovr'), x, y,cv=kfold)

print(np.mean(results))

0.7737498327759197